<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습_get으로 정보 받기</title>
    <!-- jquery cdn -->
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <!-----------------실습1------------------ -->
    <h1>실습 1. axios get 회원가입</h1>
    <form action="" name="register">
      <span>이름</span>
      <input type="text" name="username" required />
      <fieldset>
        <legend>성별</legend>
        <input type="radio" name="gender" value="female" />
        <label for="female">여자</label>
        <input type="radio" name="gender" value="male" />
        <label for="male">남자</label>
      </fieldset>
      <fieldset>
        <legend>생년월일</legend>
        <select name="year" required>
          <% for (let i = 1990; i<= 2023; i++) {%>
          <option value="<%= i%>"><%= i%></option>
          <%}%>
        </select>
        <span>년</span>
        <select name="month" required>
          <% for (let i = 1; i<= 12; i++) {%>
          <option value="<%= i%>"><%= i%></option>
          <%}%>
        </select>
        <span>월</span>
        <select name="day" required>
          <% for (let i = 1; i<= 31; i++) {%>
          <option value="<%= i%>"><%= i%></option>
          <%}%>
        </select>
        <span>일</span>
      </fieldset>
      <fieldset>
        <legend>관심사</legend>
        <input type="checkbox" name="interest" value="travel" />
        <label for="traval">여행</label>
        <input type="checkbox" name="interest" value="fashion" />
        <label for="fashion">패션</label>
        <input type="checkbox" name="interest" value="food" />
        <label for="food">음식</label>
      </fieldset>
      <button type="button" onclick="axiosGet();">회원가입</button>
    </form>
    <br />
    <div class="res" style="color: red"></div>
    <br/>
    <!-----------------실습2------------------ -->
    <h1>실습2. axios post 로그인</h1>
    <form action="" name="login">
      <span>아이디</span>
      <input type="text" name="id">
      <span>비밀번호</span>
      <input type="text" name="passwd">
      <button type="button" onclick="clickLogin();">로그인</button>
    </form>
    <div class="res2" style="color: red"></div>


    <script>
      const resultBox = document.querySelector('div.res'); 
      const resultBox2 = document.querySelector('div.res2');
    // <!- ----------------실습1------------------ -->
      // async function axiosGet() {
      //   const form = document.forms['register'];
      //     const userData = {
      //       name: form.username.value,
      //       gender: form.gender.value,
      //       year: form.year.value,
      //       month: form.month.value,
      //       day: form.day.value,
      //       interest: form.interest.value,
      //     };
      //   console.log(userData);
      //   console.log('axios get 진입');
      //   try {
      //     const res = await axios({
      //       method: 'get',
      //       url: '/axios',
      //       params: userData,
      //     });
      //     console.log(res);
      //     const { name, gender, year, month, day } = res.data;
      //     console.log(name);
      //     resultBox.textContent = `${name}님의 성별은 ${gender}이고 ${year}년 ${month}월 ${day}일 생이시군요!`;
      //   } catch (error) {
      //     resultBox.textContent = `알 수 없는 에러 발생`;
      //   }
      // }
      // <!-------------실습: axios -> ajax -------------->
      // function axiosGet() { // 함수명 변경 x
      //   const form = document.forms['register'];
      //     const userData = {
      //       name: form.username.value,
      //       gender: form.gender.value,
      //       year: form.year.value,
      //       month: form.month.value,
      //       day: form.day.value,
      //       interest: form.interest.value,
      //     };
      //     const {name, gender, year, month, day, interest} = userData;
      //     $.ajax({
      //       type: 'get',
      //       url:'/axios', // url은 변경하지 않음
      //       data: userData,
      //       success: function(data) {
      //         resultBox.innerHTML=`${name}님의 성별은 ${gender}이고 ${year}년 ${month}월 ${day}일 생이시군요!`;
      //       }, error: function(error) {
      //         resultBox.innerHTML=`알 수 없는 발생!`;
      //       }
      //     })
      //   };

      // <!-------------실습: axios -> fetch -------------->
      function axiosGet() { // 함수명 변경 x
        const form = document.forms['register'];
        fetch(`/axios?name=${form.username.value}&gender=${form.gender.value}&year=${form.year.value}&month=${form.month.value}&day=${form.day.value}`
        ).then (function(res){
          return res.json();
        }). then (function(res){
          const {name, gender, year, month, day, interest} = res;
            resultBox.textContent = `${name}님의 성별은 ${gender}이고 ${year}년 ${month}월 ${day}일 생이시군요!`;
        })
        };
      // <!- ----------------실습2------------------ -->
      // async function clickLogin() {
      //   const form = document.forms['login'];
      //   const data = {
      //     id: form.id.value,
      //     pw: form.passwd.value,
      //   };
      //   console.log('axios post 진입');
      //   try {
      //     const res = await axios({
      //       method: 'post',
      //       url: '/post',
      //       data: data,
      //     });
      //     const { id, pw } = res.data;
      //     if (id === 'banana' && pw == '4321')
      //     {
      //       resultBox2.innerHTML = `<div style="color: blue;">${id}님 로그인에 성공하셨습니다!</div>`;
      //     } else {
      //       resultBox2.innerHTML = `<div style="color: red;">${id}님 로그인에 실패하셨습니다ㅠㅠ</div>`;
      //     }
      //     } catch (error) {
      //     console.log('Error!', error)
      //   }
      // };
      // <!-------------실습: axios -> ajax -------------->
      function clickLogin() {
        const form = document.forms['login'];
        const data = {
          id: form.id.value,
          pw: form.passwd.value,
        }
        $.ajax({
          type: 'post',
          url: '/post', //url변경x
          data: data,
          success: function(resdata) {
            if (data.id === 'banana' && data.pw == '4321')
          {
            resultBox2.innerHTML = `<div style="color: blue;">${data.id}님 로그인에 성공하셨습니다!</div>`;
          } else {
            resultBox2.innerHTML = `<div style="color: red;">${data.id}님 로그인에 실패하셨습니다ㅠㅠ</div>`;
          };
          }, error :function(error){
            resultBox2.textContent = `알 수 없는 오류!`;
          }
        });
      };
      // <!-------------실습: axios -> fetch -------------->
      function clickLogin() {
        const form = document.forms['login'];
        const data = {
          id: form.id.value,
          pw: form.passwd.value,
        }
        fetch('/post', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        }).then (function(res) {
          return res.json();
        }).then (function(res){
          if (data.id === 'banana' && data.pw == '4321')
          {
            resultBox2.innerHTML = `<div style="color: blue;">${data.id}님 로그인에 성공하셨습니다!</div>`;
          } else {
            resultBox2.innerHTML = `<div style="color: red;">${data.id}님 로그인에 실패하셨습니다ㅠㅠ</div>`;
          };
        }).catch(function(error){
          resultBox2.textContent = `알 수 없는 오류!`;
        })
      };
    </script>
  </body>
</html>
