<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./includes/head', {title: '홈'})%>
    
    <!-- index.ejs에서만 적용하고픈 home.css -->
    <link rel="stylesheet" href="/public/css/home.css">
</head>
<body>
    <%- include('./includes/header') %>
    <h1>Hello! Express!!</h1>
    <p>안녕하세요~ <%= userId%> 님! 환영합니다</p>
    <p>당신의 패스워드는? <%=userPw%></p>
    <% for (let i=0; i<5; i++){ %>
        <div><%= i%></div>
    <% } %>
    <h2><%=userId%></h2>
    <% for (let btn of btns) { %>
        <button type="button" class="btn btn-primary"><%= btn %></button>
    <% } %>
    <span><%= me.name %></span>   
    <span><%= me.msg %></span>   
    <br/>
    <% if (!isLogin) { %>
    <h4>아직 로그인을 하지 않으셨군요!</h4>
    <% } else { %>
        <h4>로그인을 하셨군요!</h4>
        <% } %>
</body>
</html>